
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/* -------------------- LAYOUT -------------------- */

h1{
  margin-top: 100px;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 2em;
  margin-left: 10%;
}

#topics div{
  background-color: grey;
  width: 80%;
  height: 200px;
  margin: 10%;
}

#topics div p{
  text-align: center;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 3em;
  padding-top: 5%;
}

#topics a{
  text-decoration: none;
  color: black;
}

#buttonTerug{
  width: 125px;
  height: 50px;
  background-color: black;
  color: white;
  font-family: 'exo', sans-serif;
  font-size: 20px;
  margin-top: 150px;
  float: left;
}

#buttonTerug:hover{
  background-color: white;
  border: black solid thin;
  color: black;
}

#content{
  font-family: 'Source Sans Pro';
  text-align: center;
  width: 80%;
}

#content span{
  background-color: #6DFEED;
}

#uitlegExcursie{
  font-family: 'Source Sans Pro';
  width: 80%;
  margin-left: 10%;
}

#uitleg img{
  margin-left: 10%;
  width: 80%;
}

a{
  color: #6DFEED;
}

a:hover{
  color: grey;
}

#picturesNemo{
  margin-left: 10%;
  width: 80%;
}

#picturesNemo img{
  width: 22%;
}

.assignments video{
  width: 50%;
}

/* -------------------- LAYOUT -------------------- */



/* -------------------- MEDIA SIZE -------------------- */

/*Breakpoint naar tablet*/
@media only screen and (min-width: 768px){



/*Breakpoint naar laptop*/
@media only screen and (min-width: 1366px){

  h1{
    font-size: 5em;
    margin-top: 200px;
  }

    #content{
      text-align: left;
      margin-left: 10%;
    }

  #uitlegExcursie{
    float: left;
    width: 60%;
  }

  #uitleg img{
    margin-left: 5%;
    width: 20%;
    height: 400px;
  }

  #picturesNemo{
    margin-top: 50px;
    width: 100%;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

  #picturesNemo:hover{
    filter: none;
  }

}
/*Breakpoint naar desktop*/
@media only screen and (min-width: 1920px) and (max-width: 1920px){



/* -------------------- MEDIA SIZE -------------------- */
