
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/* -------------------- LAYOUT -------------------- */

h1{
  margin-top: 100px;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 2em;
  margin-left: 10%;
}

#uitleg{
  font-family: 'Source Sans Pro';
  font-size: 1em;
  width: 80%;
  margin-left: 10%;
}

#workshops div{
  width: 80%;
  height: 200px;
  margin-left: 10%;
}

#workshops div p{
  text-align: center;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 1em;
  padding-top: 30%;
  color: black;
}

#workshops a{
  text-decoration: none;
  color: black;
}

.arduino{
  background-image: url("../images/backgroundArduinoMobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.VRenvironments{
  background-image: url("../images/backgroundVRenvironmentsMobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.arduino:hover, .VRenvironments:hover{
  background-color: #6DFEED;
  background-image: none;
}

.computerVision{
  background-color: grey;
}

i {
  border: solid grey;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  margin-left: 5%;
  margin-top: 80px;
  float: left;
}

i:hover{
  border: solid white;
  border-width: 0 3px 3px 0;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/* CSS voor Arduino*/

#top{
  margin-top: 150px;
  background-image: linear-gradient(to right, #9AFCFD, #6DFEED, #28AFB0, #6BBDBD);
  height: 200px;
  width: 100%;
}

h2{
  margin-top: 70px;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-style: italic;
  font-size: 1.5em;
  text-align: center;
  text-align: inherit;
  color: white;
  z-index: 1;
  margin-left: 40%;
}

#content div{
  font-family: 'Source Sans Pro';
  /*border: thin black solid;*/
  width: 80%;
  height: 500px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 200px;
}

#content{
  text-align: left;
  margin-left: 10%;
  margin-top: -150px;
}

#uitlegArduino{
  margin-top: 0px;
  font-family: 'Source Sans Pro';
  width: 80%;
  margin-left: 10%;
}

#uitlegArduino img{
  width: 100%;
}

h3{
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

hr{
  width: 40%;
  border-width: 1px;
  border-style: solid;
  border-color: #6DFEED;
}

h4{
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 1.5em;
}

#content img{
  width: 100%;
}

video{
  width: 100%;
}

.opdracht3C{
  margin-top: 250px;
}

/* CSS voor Arduino*/


/* -------------------- LAYOUT -------------------- */



/* -------------------- MEDIA SIZE -------------------- */

/*Breakpoint naar tablet*/
@media only screen and (min-width: 768px){

  .arduino{
    background-image: url("../images/backgroundArduinoTablet.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .VRenvironments{
    background-image: url("../images/backgroundVRenvironmentsTablet.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  #workshops div p{
    font-size: 1.5em;
    padding-top: 15%;
  }

  /* CSS voor Arduino*/

  h2{
    margin-left: 45%;
  }

  #content{
    text-align: left;
    margin-left: 10%;
    margin-top: -600px;
  }

  #content div{
    font-family: 'Source Sans Pro';
    /*border: thin black solid;*/
    width: 80%;
    height: 500px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 650px;
  }


  /* CSS voor Arduino*/

}

/*Breakpoint naar laptop*/
@media only screen and (min-width: 1366px){

  h1{
    font-size: 5em;
    margin-top: 200px;
  }

  h2{
    margin-top: 70px;
    font-style: italic;
    color: white;
    font-size: 3em;
    text-align: inherit;
    margin-left: 45%;
  }

  #top{
    margin-top:200px;
    background-image: linear-gradient(to right, #9AFCFD, #6DFEED, #28AFB0, #6BBDBD);
    height: 200px;
  }

  #tekstUitleg{
    float: left;
    width: 30%;
    margin-top: 100px;
  }

  #uitlegArduino img{
    float: right;
    width: 60%;
    margin-top: 100px;
  }

  #workshops div p{
    font-size: 3em;
    padding-top: 5%;
  }

  #content{
    margin-top: -150px;
  }

  #content div{
    margin-top: 300px;
  }

  #content p{
    text-align: center;
    margin-bottom: 50px;
  }

  .arduino{
    background-image: url("../images/backgroundArduino+B.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  #content img{
    width: 50%;
  }

  video{
    width: 40%;
    height: auto;
  }

  .VRenvironments{
    background-image: url("../images/backgroundVREnvironments.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

}
/*Breakpoint naar desktop*/
@media only screen and (min-width: 1920px) and (max-width: 1920px){

  #content{
    margin-top: -400px;
  }

  #content div{
    margin-top: 500px;
  }

}

/* -------------------- MEDIA SIZE -------------------- */
