
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/* -------------------- LAYOUT -------------------- */

h1{
  margin-top: 100px;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 2em;
  margin-left: 10%;
}

#uitleg{
  font-family: 'Source Sans Pro';
  font-size: 1em;
  width: 80%;
  margin-left: 10%;
}

#tekstUitleg a{
  color: #6DFEED;
}

#tekstUitleg a:hover{
  color: grey;
}

#uitlegOpdrachten{
  font-family: 'Source Sans Pro';
  font-size: 1em;
  width: 80%;
  margin-left: 10%;
}

#workshops div{
  width: 80%;
  height: 200px;
  margin-left: 10%;
}

#workshops div p{
  text-align: center;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 1em;
  padding-top: 30%;
  color: black;
}

#workshops a{
  text-decoration: none;
  color: black;
}

.arduino{
  background-image: url("../images/backgroundArduinoMobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.VRenvironments{
  background-image: url("../images/backgroundVRenvironmentsMobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.arduino:hover, .VRenvironments:hover, .computerVision:hover{
  background-color: #6DFEED;
  background-image: none;
}

i {
  border: solid grey;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  margin-left: 5%;
  margin-top: 80px;
  float: left;
}

i:hover{
  border: solid white;
  border-width: 0 3px 3px 0;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/* CSS voor Arduino*/

#top{
  margin-top: 150px;
  background-image: linear-gradient(to right, #9AFCFD, #6DFEED, #28AFB0, #6BBDBD);
  height: 200px;
  width: 100%;
}

h2{
  margin-top: 70px;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-style: italic;
  font-size: 1.5em;
  text-align: center;
  text-align: inherit;
  color: white;
  z-index: 1;
  margin-left: 40%;
}

#content div{
  font-family: 'Source Sans Pro';
  /*border: thin black solid;*/
  width: 80%;
  height: 500px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 200px;
}

#content{
  text-align: left;
  margin-left: 10%;
  margin-top: -150px;
}

#uitlegArduino{
  margin-top: 0px;
  font-family: 'Source Sans Pro';
  width: 80%;
  margin-left: 10%;
}

#uitlegArduino img{
  width: 100%;
}

h3{
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

hr{
  width: 40%;
  border-width: 1px;
  border-style: solid;
  border-color: #6DFEED;
}

h4{
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 1.5em;
}

#content img{
  width: 100%;
}

video{
  width: 100%;
}

.opdracht3C{
  margin-top: 250px;
}

/* CSS voor Arduino*/

/* CSS voor VR Environments */

#voorbeeld1, #voorbeeld2, #voorbeeld3, #voorbeeld4{
  margin-top: 20px;
  color: black;
}

#voorbeeld1{
  top: -150px;
  position: relative;
}

#voorbeeld2{
  top: -500px;
  position: relative;
}

#voorbeeld3{
  top: -650px;
  position: relative;
}

#voorbeeld4{
  top: -700px;
  position: relative;
}

.opdracht2VRenvironments{
  position: relative;
  top: 2000px;
}

/* CSS voor VR Environments */

/* CSS voor Computer Vision */

.computerVision{
  background-image: url("../images/backgroundComputerVisionMobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#uitlegComputerVision{
  font-family: 'Source Sans Pro';
  font-size: 1em;
  width: 80%;
  margin-left: 10%;
}

#uitlegComputerVision img{
  margin-top: 0px;
  width: 100%;
}

.opdracht2{
  position: relative;
  top: 50px;
}

.opdracht3{
  position: relative;
  top: 170px;
}

.opdrachtCV1{
  position: relative;
  top: 250px;
}

.opdrachtCV2{
  position: relative;
  top: 250px;
}

.opdrachtAR{
  position: relative;
  top: 250px;
}

/* CSS voor Computer Vision */



/* -------------------- LAYOUT -------------------- */



/* -------------------- MEDIA SIZE -------------------- */

/*Breakpoint naar tablet*/
@media only screen and (min-width: 768px){

  .arduino{
    background-image: url("../images/backgroundArduinoTablet.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .VRenvironments{
    background-image: url("../images/backgroundVRenvironmentsTablet.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  #workshops div p{
    font-size: 1.5em;
    padding-top: 15%;
  }

  /* CSS voor Arduino*/

  h2{
    margin-left: 45%;
  }

  #content{
    text-align: left;
    margin-left: 10%;
    margin-top: -600px;
  }

  #content div{
    font-family: 'Source Sans Pro';
    /*border: thin black solid;*/
    width: 80%;
    height: 500px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 650px;
  }

  /* CSS voor Arduino*/

  /* CSS voor VR Environments */

  #voorbeeld1{
    top: -600px;
    position: relative;
  }

  #voorbeeld2{
    top: -1300px;
    position: relative;
  }

  #voorbeeld3{
    top: -1950px;
    position: relative;
  }

  #voorbeeld4{
    top: -2550px;
    position: relative;
  }

  .opdracht2VRenvironments{
    position: relative;
    top: 1200px;
  }

  /* CSS voor VR Environments */

  /* CSS voor Computer Vision */

  .computerVision{
    background-image: url("../images/backgroundComputerVisionTablet.png");
    background-repeat: no-repeat;
    background-size: cover;
  }


  .opdracht2{
    position: relative;
    top: -250px;
  }

  .opdracht3{
    position: relative;
    top: -470px;
  }

  .opdrachtCV1{
    position: relative;
    top: -400px;
  }

  .opdrachtCV2{
    position: relative;
    top: -700px;
  }

  .opdrachtCV3{
    position: relative;
    top: -1300px;
  }

  .opdrachtAR{
    position: relative;
    top: -1200px;
  }

  /* CSS voor Computer Vision */

}

/*Breakpoint naar laptop*/
@media only screen and (min-width: 1366px){

  .grid-container.footer{
    margin-top: 5000px;
  }

  h1{
    font-size: 5em;
    margin-top: 200px;
  }

  h2{
    margin-top: 70px;
    font-style: italic;
    color: white;
    font-size: 3em;
    text-align: inherit;
    margin-left: 45%;
  }

  #top{
    margin-top:200px;
    background-image: linear-gradient(to right, #9AFCFD, #6DFEED, #28AFB0, #6BBDBD);
    height: 200px;
  }

  #tekstUitleg{
    float: left;
    width: 30%;
    margin-top: 100px;
  }

  #uitlegArduino img{
    float: right;
    width: 60%;
    margin-top: 100px;
  }

  #workshops div p{
    font-size: 3em;
    padding-top: 5%;
  }

  #content{
    margin-top: -150px;
  }

  #content div{
    margin-top: 300px;
  }

  #content p{
    text-align: left;
    margin-bottom: 50px;
  }

  .arduino{
    background-image: url("../images/backgroundArduino+B.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  #content img{
    width: 50%;
  }

  video{
    width: 40%;
    height: auto;
  }

  .opdracht4C{
    position: relative;
    top: 100px;
  }

  .opdracht6C{
    position: relative;
    top: 100px;
  }

  .opdracht7{
    position: relative;
    top: 100px;
  }

  .opdracht8{
    position: relative;
    top: 200px;
  }

  #videoOpdr8{
    float: left;
  }

  #tekstOpdr8{
    margin-left: 50%;
    background-color: #6DFEED;
    width: 20%;
    padding: 3%;
  }


/* CSS voor VR Environments */

#voorbeeld1, #voorbeeld2, #voorbeeld3, #voorbeeld4{
  margin-top: 1500px;
  color: black;
}

#voorbeeld1{
  top: 1500px;
  position: inherit;
}

#voorbeeld2{
  top: 1500px;
  position: inherit;
}

#voorbeeld3{
  top: 1500px;
  position: inherit;
}

#voorbeeld4{
  top: 1500px;
  position: inherit;
}

  .VRenvironments{
    background-image: url("../images/backgroundVREnvironments.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  #voorbeeld1, #voorbeeld2, #voorbeeld3, #voorbeeld4{
    display: flex;
    position: absolute;
    margin-top: -300px;
    text-align: center;
    color: black;
  }

  #voorbeeld1 p{
    text-align: left;
    width: 30%;
    margin-top: -300px;
    margin-left: -5%;
    background-color: #6DFEED;
    height: 50%;
    padding: 5%;
    padding-top: 2%;
  }

  #voorbeeld1 img{
    margin-top: -300px;
    width: 40%;
    height: 65%;
  }

  #voorbeeld2 p{
    text-align: left;
    width: 30%;
    margin-top: 100px;
    margin-left: 0%;
    background-color: #6DFEED;
    height: 50%;
    padding: 5%;
    padding-top: 2%;
  }

  #voorbeeld2 video{
    margin-top: 30px;
    width: 40%;
    height: 80%;
    margin-left: -5%;
  }

  #voorbeeld3 p{
    text-align: left;
    width: 30%;
    margin-top: 500px;
    margin-left: -5%;
    background-color: #6DFEED;
    height: 50%;
    padding: 5%;
    padding-top: 2%;
  }

  #voorbeeld3 video{
    margin-top: 430px;
    width: 40%;
    height: 80%;
  }

  #voorbeeld4 p{
    text-align: left;
    width: 30%;
    margin-top: 900px;
    margin-left: 0%;
    background-color: #6DFEED;
    height: 50%;
    padding: 5%;
    padding-top: 2%;
  }

  #voorbeeld4 video{
    margin-top: 830px;
    width: 40%;
    height: 80%;
    margin-left: -5%;
  }

  .opdracht2VRenvironments{
    top: 1200px;
    position: relative;
  }

  #imagesBananaTurntable{
    top: -250px;
    position: relative;
    float: left;
  }

  #uitlegBananaTurntable p{
    float: right;
    width: 40%;
    margin-top: -700px;
    text-align: justify;
  }

  .opdracht2VRenvironments video{
    margin-left: 20%;
    margin-top: 100px;
    width: 55%;
    border: solid #6DFEED 10px;
  }

  .opdracht3VRenvironments{
    top: 4700px;
    position: absolute;
    left: 5%;
  }

  #imagesBananaCollector{
    position: relative;
    left: 0%;
    top: -200px;
  }

  #uitlegBananaCollector p{
    float: right;
    width: 40%;
    margin-top: -1000px;
    text-align: justify;
  }

  .opdracht3VRenvironments video{
    margin-top: 800px;
    width: 55%;
    border: solid #6DFEED 10px;
    margin-left: 20%;
  }

  /* CSS voor VR Environments */

  /* CSS voor Computer Vision */

  .computerVision{
    background-image: url("../images/backgroundComputerVision.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  #uitlegComputerVision{
    font-family: 'Source Sans Pro';
    font-size: 1em;
    width: 80%;
    margin-left: 10%;
  }

  #uitlegComputerVision img{
    margin-left: 5%;
    margin-top: 160px;
    width: 60%;
  }

  .opdracht2{
    top: 100px;
  }

  .opdracht3{
    top: 150px;
    position: relative;
  }

  .opdrachtCV1{
    top: 150px;
    position: relative;
  }

  img.imgCV1-1{
    float: left;
    height: 250px;
    margin-left: -10px;
  }

  img.imgCV1-2{
    float: right;
    height: 250px;
    margin-left: 10px;
  }

  .opdrachtCV2{
    top: -100px;
  }

  .opdrachtCV2 img{
    position: absolute;
    width: 200%;
    height: 300px;
  }

  .opdrachtCV3{
    top: -300px;
    position: relative;
  }

  img.imgCV3-1{
    float: left;
    margin-left: -5%;
  }

  img.imgCV3-2{
    float: right;
    margin-left: 5%;
  }

  .opdrachtAR{
    position: relative;
    top: -250px;
  }

  .imgAR-1{
    float: left;
    margin-left: -5%;
  }

  .imgAR-2{
    float: right;
    margin-left: 5%;
  }

  /* CSS voor Computer Vision */

}
/*Breakpoint naar desktop*/
@media only screen and (min-width: 1920px) and (max-width: 1920px){

  #content{
    margin-top: -400px;
  }

  #content div{
    margin-top: 500px;
  }

}

/* -------------------- MEDIA SIZE -------------------- */
