
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/* -------------------- LAYOUT -------------------- */

h1{
  margin-top: 100px;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 2em;
  margin-left: 10%;
}

#uitleg, #uitlegTopics{
  font-family: 'Source Sans Pro';
  font-size: 1em;
  width: 80%;
  margin-left: 10%;
}

#topics div{
  /*background-color: grey;*/
  width: 80%;
  height: 200px;
  margin-left: 10%;
}

#topics div p{
  text-align: center;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 1em;
  padding-top: 30%;
  color: white;
}

.wearableTechnology{
  background-image: url("../images/backgroundWearableTechnologyMobile+B.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.playfulInteractions{
  background-image: url("../images/backgroundPlayfulInteractionMobile+B.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.artificialCreatures{
  background-image: url("../images/backgroundArtificialCreaturesMobile+B.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.augmentedVirtualReality{
  background-image: url("../images/backgroundAugmentedVirtualRealityMobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.wearableTechnology:hover, .playfulInteractions:hover, .artificialCreatures:hover, .augmentedVirtualReality:hover{
  background-color: #6DFEED;
  background-image: none;
}

i {
  border: solid grey;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  margin-left: 5%;
  margin-top: 80px;
  float: left;
}

i:hover{
  border: solid white;
  border-width: 0 3px 3px 0;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#topics a{
  text-decoration: none;
  color: black;
}

/*CSS voor Wearable Technology*/

#top{
  margin-top: 150px;
  background-image: linear-gradient(to right, #9AFCFD, #6DFEED, #28AFB0, #6BBDBD);
  height: 200px;
  width: 100%;
}

/*#buttonTerug{
  width: 125px;
  height: 50px;
  background-color: grey;
  color: white;
  font-family: 'exo', sans-serif;
  font-size: 20px;
  margin-top: 100px;
  float: left;
  margin-left: 5%;
  border-radius: 20px;
}

#buttonTerug:hover{
  background-color: #6DFEED;
  border: black solid thin;
  color: black;
}*/

#content div{
  font-family: 'Source Sans Pro';
  /*border: thin black solid;*/
  width: 80%;
  height: 500px;
  margin-left: 10%;
  margin-right: 5%;
}

hr{
  width: 40%;
  border-width: 1px;
  border-style: solid;
  border-color: #6DFEED;
}

h2{
  margin-top: 70px;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-style: italic;
  font-size: 1.5em;
  text-align: center;
  text-align: inherit;
  color: white;
  z-index: 1;
  margin-left: 25%;
}

#uitleg, #uitlegTopics{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

#uitleg p, #uitlegTopics p{
  font-size: 1.3em;
  font-family: 'Source Sans Pro';
  margin-top: 50px;
}

h3{
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}

.flex-itemImage1{
  height: 165px;
  margin: -10%;
  margin-top: 5px;
}

.flex-itemImage2{
  height: 200px;
  margin-left: -10%;
  margin-top: 30px;
}

.flex-itemImage3{
  height: 200px;
  margin-left: -10%;
  margin-top: 5px;
}

#exampleSmartTattoo{
  margin-bottom: -50px;
  margin-left: -20%;
  position: relative;
}

#exampleSmartTattoo iframe{
  margin-left: -20%;
}

#exampleSmartTattoo img{
  width: 250px;
  height: 170px;
  position: relative;
  margin-left: -10%;
}

#exampleWearableTechnologyPrison{
  left: -10%;
  position: relative;
}

.research{
  margin-top: 1150px;
}

.research a:visited{
  color: #6DFEED;
}

.research a{
  color: #6DFEED;
  width: 80%;
}

#bronGevangenisVoorbeeld{

}

.research a:hover{
  color: grey;
}

.reflect{
  margin-top: 1300px;
}

.reflect p{
  margin-bottom: 80px;
}

/*CSS voor Wearable Technology*/

/*CSS voor Playful Interaction*/


.researchPlayfulInteraction{
  margin-top: 1650px;
}

.imagesColorTheLift{
  margin-bottom: 100px;
}

.researchPlayfulInteraction a:visited{
  color: #6DFEED;
}

.researchPlayfulInteraction a{
  color: #6DFEED;
}

.researchPlayfulInteraction a:hover{
  color: grey;
}

#illustratiesMusicalSwings{
  width: 80%;
  margin-bottom: -180px;
}

.pictureMusicalSwings{
  width: 100%;
  height: 30%;
  text-align: center;
  margin-left: -10%;
}

#videoMusicalSwings{
margin-left: -17%;
}

.reflectPlayfulInteraction{
  margin-top: 900px;
}

/*CSS voor Playful Interaction*/

/*CSS voor Augmented en Virtual Reality*/

a{
color: #6DFEED
}

a:hover{
  color: grey;
}

/*CSS voor Augmented en Virtual Reality*/

/* -------------------- LAYOUT -------------------- */



/* -------------------- MEDIA SIZE -------------------- */

/*Breakpoint naar tablet*/
@media only screen and (min-width: 768px){

  #topics div p{
    font-size: 1.5em;
    padding-top: 15%;
    color: white;
  }

  /*CSS voor Wearable Technology*/

  .wearableTechnology{
    background-image: url("../images/backgroundWearableTechnologyTablet+B.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  h2{
    margin-left: 35%;
  }

  .grid-containerImages{
    text-align: center;
  }

  .flex-itemImage1{
    height: 250px;
    margin: -10%;
    margin-top: 5px;
    text-align: center;
  }

  .flex-itemImage2{
    height: 300px;
    margin-left: 0%;
    margin-top: 55px;
  }

  .flex-itemImage3{
    height: 300px;
    margin-left: 0%;
    margin-top: 5px;
  }

  .research{
    margin-top: 1000px;
  }

    #exampleSmartTattoo{
      margin-bottom: -220px;
      margin-left: -20%;
      position: relative;
    }

    #exampleSmartTattoo iframe{
      margin-left: -20%;
      float: left;
    }

    #exampleSmartTattoo img{
      width: 300px;
      height: 170px;
      position: absolute;
      margin-left: 0%;
      float: right;
    }

    #exampleWearableTechnologyPrison{
      left: 0%;
      position: absolute;
    }

  .reflect{
    margin-top: 550px;
    margin-bottom: -150px;
  }

  /*CSS voor Wearable Technology*/

  /*CSS voor Playful Interaction*/

  .playfulInteractions{
    background-image: url("../images/backgroundPlayfulInteractionTablet+B.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  /*CSS voor Playful Interaction*/

  /*CSS voor Artificial Creatures*/

  .artificialCreatures{
    background-image: url("../images/backgroundArtificialCreaturesTablet+B.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  /*CSS voor Artificial Creatures*/


  /*CSS voor Augmented en Virtual Reality*/

  .augmentedVirtualReality{
    background-image: url("../images/backgroundAugmentedVirtualRealityTablet.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  /*CSS voor Augmented en Virtual Reality*/

}

/*Breakpoint naar laptop*/
@media only screen and (min-width: 1366px){

h1{
  font-size: 5em;
  margin-top: 200px;
}

h2{
  margin-top: 70px;
  font-style: italic;
  color: white;
  font-size: 3em;
  text-align: inherit;
  margin-left: 35%;
}

#top{
  margin-top:200px;
  background-image: linear-gradient(to right, #9AFCFD, #6DFEED, #28AFB0, #6BBDBD);
  height: 200px;
}

#buttonTerug{
  margin-top: 50px;
  margin-left: 5%;
  float: left;
}

#topics div p{
  font-size: 3em;
  padding-top: 5%;
}

/* CSS voor wearable Technology */

.wearableTechnology{
  background-image: url("../images/backgroundWearableTechnology+B.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#content{
  text-align: left;
  margin-left: 10%;
  margin-top: 100px;
}

#content div{
  margin-left: 5%;
}

#uitleg{
  text-align: center;
}

.grid-containerImages{
  display: flex;
  position: relative;
  margin-top: 50px;
}

.flex-itemImage1{
  height: 250px;
  margin: -10%;
  margin-top: 0px;
}

.flex-itemImage2{
  height: 250px;
  margin-left: 15%;
  margin-top: 0px;
}

.flex-itemImage3{
  height: 250px;
  margin-left: 5%;
}

.grid-containerImages{
  margin-bottom: -200px;
}

.research{
  margin-top: 250px;
}

.researchPlayfulInteraction{
  margin-top: 450px;
}

.research a{
  z-index: 10;
  position: relative;
}

#exampleSmartTattoo{
  margin-bottom: -220px;
  text-align: center;
}

#exampleSmartTattoo{
  margin-bottom: -220px;
  margin-left: -20%;
  position: relative;
  text-align: center;
}

#exampleSmartTattoo iframe{
  margin-left: 15%;
}

#exampleSmartTattoo img{
  width: 380px;
  height: 250px;
  position: relative;
}

#exampleWearableTechnologyPrison{
  left: 5%;
  position: relative;
}

#exampleWearableTechnologyPrison{
  text-align: center;
}

.reflect{
  margin-top: 400px;
  margin-bottom: -250px;
}

/* CSS voor wearable Technology */

/*CSS voor Playful Interaction*/

.playfulInteractions{
  background-image: url("../images/backgroundPlayfulInteraction+B.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.pictureMusicalSwings{
  width: 40%;
  height: 50%;
  text-align: center;
}

#videoMusicalSwings{
  width: 50%;
  height: 50%;
  margin-left: 0%;
}

#illustratiesMusicalSwings{
  text-align: center;
  margin-top: 50px;
  margin-bottom: -200px;
}

.reflectPlayfulInteraction{
  margin-top: 350px;
  margin-bottom: -250px;
}

/*CSS voor Playful Interaction*/

/*CSS voor Artificial Creatures*/

.artificialCreatures{
  background-image: url("../images/backgroundArtificialCreatures+B.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.reflectArtificialCreatures{
  margin-top: 350px;
}

/*CSS voor Artificial Creatures*/

/*CSS voor Augmented en Virtual Reality*/

.augmentedVirtualReality{
  background-image: url("../images/backgroundAugmentedVirtualReality3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.assignmentsARVR img{
  width: 30%;
}

.researchARVR{
  margin-top: 900px;
}

.researchARVR img{
    width: 30%;
    height: 200px;
}

.assignment2{
  margin-top: 300px;
  margin-bottom: -150px;
}


/*CSS voor Augmented en Virtual Reality*/

}
/*Breakpoint naar desktop*/
@media only screen and (min-width: 1920px) and (max-width: 1920px){

/* CSS voor wearable Technology */

h2{
  margin-left: 40%;
}

.flex-itemImage1{
  margin: 0%;
}

.flex-itemImage2{
  margin-left: 5%;
}

.assignments{
  margin-top: -50px;
}

.research{
  margin-top: 180px;
}

#exampleSmartTattoo iframe{
  margin-left: 25%;
}

#exampleSmartTattoo img{
  position: absolute;
  margin-left: -25%;
}

#exampleWearableTechnologyPrison img{
  left: 0%;
  width: 400px;
  height: auto;
}

.reflect{
  margin-top: 450px;
}

/* CSS voor wearable Technology */

/*CSS voor Playful Interaction*/

/*CSS voor Playful Interaction*/

/*CSS voor Artificial Creatures*/


/*CSS voor Artificial Creatures*/

}

/* -------------------- MEDIA SIZE -------------------- */
