
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/* -------------------- LAYOUT -------------------- */

h1{
  margin-top: 100px;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 2em;
  margin-left: 10%;
}

/*#buttonTerug{
  width: 125px;
  height: 50px;
  background-color: grey;
  color: white;
  font-family: 'exo', sans-serif;
  font-size: 20px;
  margin-top: 100px;
  float: left;
  margin-left: 5%;
  border-radius: 20px;
}

#buttonTerug:hover{
  background-color: #6DFEED;
  border: black solid thin;
  color: black;
}*/

i {
  border: solid grey;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  margin-left: 5%;
  margin-top: 80px;
  float: left;
}

i:hover{
  border: solid white;
  border-width: 0 3px 3px 0;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

#content{
  font-family: 'Source Sans Pro';
  text-align: center;
}

#content div{
  background-color: grey;
  width: 80%;
  height: 300px;
  margin-left: 10%;
  margin-top: 100px;
}

.proces{
  background-image: url(../images/LabWeeksProces.png);
  width: 80%;
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
}

.proces:hover, .product:hover, .reflect:hover{
  opacity: 0.8;
}

#content .flex-item p{
  text-align: center;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  margin-top: -100px;
  padding: 10%;
  position: relative;
  font-size: 1.5em;
  color: black;
  background-color: #F6F5F5;
}

#content .flex-item p:hover{
  background-color: #6DFEED;
}

#content a{
  text-decoration: none;
}

/*CSS van procesLabWeeks.html*/

#infoDagen{
  margin-top: 0px;
  font-family: 'Source Sans Pro';
}

#infoDagen div{
  background-color: #F6F5F5;
  height: 100%;
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
}

#infoDagen  p{
  padding: 2%;
}

#infoDagen img{
  width: 22%;
  padding: 1%;
}

#infoDagen video{
  width: 30%;
  padding: 1%;
}

#infoDagen .fotoLang{
  height: 200px;
  width: 15%;
}

#infoDagen .videoBreed{
  width: 20%;
}

#infoDagen #illustraties{
    background-image: linear-gradient(to right, #9AFCFD, #6DFEED, #28AFB0, #6BBDBD);
    width: 100%;
    margin-left: 0%;
    margin-top: 5%;
  }

h4{
  text-align: center;
  padding-top: 2%;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 1.5em;
  color: white;
}

/*CSS van procesLabWeeks.html*/

h3{
  background-color: black;
  text-align: center;
  color: white;
}

#linkProduct{
  margin-top: 5%;
}

#linkProduct a{
  font-family: 'Source Sans Pro';
  text-align: center;
  color: #6DFEED;
  font-size: 1.5em;
}

#linkProduct img{
  width: 30%;
}

#fotoGroep{
  margin-left: 25%;
}

/* -------------------- LAYOUT -------------------- */



/* -------------------- MEDIA SIZE -------------------- */

/*Breakpoint naar tablet*/
@media only screen and (min-width: 768px){

  #content div p{
    text-align: center;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 1em;
    padding-top: 20%;
    color: white;
  }

}

/*Breakpoint naar laptop*/
@media only screen and (min-width: 1366px){

  h1{
    font-size: 5em;
    margin-top: 200px;
  }

  #content{
    text-align: left;
    margin-left: 10%;
  }

  h2{
    margin-top: 70px;
    font-style: italic;
    color: white;
    font-size: 3em;
    text-align: inherit;
    margin-left: 35%;
    font-family: 'Source Sans Pro';
  }

  #top{
    margin-top: 200px;
    background-image: linear-gradient(to right, #9AFCFD, #6DFEED, #28AFB0, #6BBDBD);
    height: 200px;
  }

  #buttonTerug{
    margin-top: 50px;
    margin-left: 5%;
    float: left;
  }

  .grid-containerContent{
    display: inline-block;
    float: left;
  }

  .grid-containerContent .flex-item{
    float: left;
    margin-left: 1%;
  }

  #content div{
    background-color: grey;
    width: 28%;
    height: 300px;
    margin-left: 1.5%;
  }

  #content div:hover{
    background-color: #6DFEED;
  }

  #content div p{
    text-align: center;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 27%;
    color: white;
  }

}
/*Breakpoint naar desktop*/
@media only screen and (min-width: 1920px) and (max-width: 1920px){



/* -------------------- MEDIA SIZE -------------------- */
